.form
{ 
    border-radius: 25px;
    border: 4px solid rgb(225, 224, 215,0.5);
    padding: 3%;
    width: 100%;
    font-family:sans-serif;    
    background-color: transparent;
    height: 550px;
}

label{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    
}

button{
    margin-top: 2%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

h1{
    
   color: rgb(255, 255, 255);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input{
   background-color:  rgb(255, 255, 255,0.85) !important;
}

input:hover{
    border:0;
    background-color:  rgb(255, 255, 255) !important ;
    outline: 5px solid rgb(255, 255, 255,0.5) !important; ;
}

select{
    border: none !important;
    outline: none !important;
    height: 35px;
    background-color:  rgb(255, 255, 255,0.85) !important;
}

input[type="text"]:focus{
    border:0;
    background-color:  rgb(255, 255, 255) !important;
    outline: 5px solid rgb(255, 255, 255,0.5);
}

select:hover{ 
    border:0;
    background-color:  rgb(255, 255, 255) !important ;
    outline: 5px solid rgb(255, 255, 255,0.5) !important; ;
   font-size: 15.5px !important;

}

#sel{
color: gray;
font-size: 15.5px;

}


#customFile{
    height:35px;
    width: fit-content;
    font-family:sans-serif !important;    
    color: gray;
}

#customFile:hover{
    border:0;
    background-color:  rgb(255, 255, 255) !important ;
    outline: 5px solid rgb(255, 255, 255,0.5) !important; ;
}

#addbtn{
    position: absolute;
    top: 80%;
    left: 51.5%;
    width: 14%;
    border-radius: 20px;
    border: 0;
    padding: 6px;
    background-color: rgb(52, 77, 242,0.9);

}

#addbtn:hover{
   outline: 5px solid rgb(255, 255, 255,0.5) !important; ;
}